*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    background-color: #fff;
}

header{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
}
.logo{
    width: 150px;
    height: auto;
}
.navbar a{
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: 2.5rem;
}
.navbar a:hover{
    color: #387ed1;
}
.line-icon{
    position: absolute;
    right: 5%;
    width: 2rem;
    cursor: pointer;
    display: none;
}

/* BreakPoint */
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .line-icon{
        display: inline-flex;
    }
    .navbar{
        position: absolute;
        left: 100%;
        top: 0;
        height: 17.7rem;
        width: 100%;
        background: red;
        transition: 0.6s;
    }
}



.main_img{
    display: flex;
    height: 80vh;
    justify-content: center;
    padding-top: 100px;
    /* transform: scale(0.8); */
}
.main_img img{
    width: 80%;
    height: auto;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px 100px; */
}
.content h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.content p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}
.content .btn{
    padding: 0.8rem 1.5rem;
    background: #387ed1;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.content a{
    color: #fff;
}
.content .btn:hover{
    background: #000000;
    color: #fff;
    border: 2px solid #387ed1;
}